REACT_APP_FIREBASE_API_KEY=your-api-key-here
REACT_APP_FIREBASE_AUTH_DOMAIN=gdgrecipegen.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=gdgrecipegen
REACT_APP_FIREBASE_STORAGE_BUCKET=gdgrecipegen.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=179109305558
REACT_APP_FIREBASE_APP_ID=1:179109305558:web:7afd43b937514b7602fd77
